<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/productList.css">
    </head>

    <body>
        <%- include('../partials/header') %>
            <main>
                <div id="mainProduct">
                    <section id="izquierda">
                        <h2>CATEGORÍAS</h2>
                        <ul class="categorias">
                            <% locals.categories.forEach(category => { %>
                                <li class="itemCat"><a href="#"><%= category.category  %> </li></a>
                            <% }); %> 
                        </ul>
                    </section>
                    <section class="main-section" id="derecha">
                        <h3>PRODUCTOS</h3>
                        <div class="articulosList">
                            <% locals.products.forEach(product => { %>
                                <article>
                                    <a href="/products/<%= product.id %>">
                                        <img src="/images/products/<%= product.image %>" class="productImg">
                                    </a>
                                    <i class="fas fa-shopping-cart"></i>
                                    <p class="nombre"><%= product.name %></p>
                                    <p class="precio">$ <%= product.price %></p>
                                </article>
                                <%}); %>
                        </div>
                    </section>
                </div>
                <div id="destacadosProduct">
                    <%- include('../partials/destacados') %>
                </div>
                
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>