<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/editProduct.css">
    </head>

    <body>
        <%- include('./partials/header') %>
            <main>
                <section class="main-section">
                    <div class="container">
                        <h2>Editando el producto: <%= locals.product.name %>
                        </h2>
                        <hr>
                    </div>
                    <form id="editForm" action="/products/<%= locals.product.id  %>?_method=put" method="post"
                        enctype="multipart/form-data">
                        <div class="atribut">
                            <label for="name">Nombre del producto</label>
                            <input required type="text" value="<%= locals.product.name  %> " name="name" id="name"
                                placeholder="">
                        </div>
                        <div class="atribut">
                            <label for="description_short">Descripción breve</label>
                            <input type="text" value="<%= locals.product.description_short  %> "
                                name="description_short" id="description_short" placeholder="">
                        </div>
                        <div class="atribut">
                            <label for="description_long">Descripción completa</label>
                            <textarea name="description_long" id="description_long" cols="30"
                                rows="10"><%= locals.product.description_long  %></textarea>
                        </div>
                        <div class="atribut">
                            <label for="category">Categoría</label>
                            <select value="<%= locals.product.category  %> " name="category" id="category">
                                <option value="" selected disabled hidden>Escoja una categoría</option>
                                <% locals.categories.forEach(category=> { %>
                                    <option value="<%= category.key %>">
                                        <%= category.text %>
                                    </option>
                                    <% }); %>
                            </select>
                        </div>
                        <div class="atribut">
                            <label for="category_sales">Promoción</label>
                            <select value="<%= locals.product.category_sales  %>" name="category_sales"
                                id="category_sales">
                                <option value="none"> Ninguna </option>
                                <option value="destacado"> Destacado </option>
                                <option value="oferta"> En Oferta </option>
                            </select>
                        </div>
                        <div class="atribut">
                            <label for="price">Precio</label>
                            <input required type="number" value="<%= parseInt(locals.product.price) %>" name="price"
                                id="price" min="0">
                        </div>
                        <div class="atribut">
                            <label for="image">Imagen</label>
                            <input type="file" name="image" id="image">
                        </div>
                        <div class="atribut">
                            <img src="/images/products/<%= locals.product.image  %>" alt="">
                        </div>
                    </form>
                    <div id="bottoms">
                        <a href="/products/<%=product.id%>/edit">
                            <button id="edit">Editar</button>
                        </a>
                        <form action="/products/<%= locals.product.id  %>?_method=delete" method="post">
                            <button id="delete" type="submit">Eliminar</button>
                        </form>
                    </div>
                </section>
            </main>

            <%- include('./partials/footer') %>
    </body>

</html>