<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/productCart.css">
    <link rel="stylesheet" href="/css/editProduct.css">
    </head>

    <body>
        <%- include('./partials/header') %>


            <main>
                <form class="main-section" action="/products/<%= product.id  %> ?_method=PUT" method="post" id="section">
                    <h2>Actualizando <%= product.name  %> </h2>
                    <hr>
                    <section" class="field-group">

                        <div>
                            <a>Nombre del producto</a>
                            <input required type="text" name="nameProduct" id="nameProduct" value="<%= product.name  %>">
                        </div>
                        <div>
                            <a>Breve descripcion</a>
                            <input required type="text" name="description_short" id="description_short" value="<%= product.description_short  %>">
                        </div>
                        <div>
                            <a>Descripcion completa</a>
                            <input required type="text" name="description_long" id="description_long" value="<%= product.description_short  %>">
                        </div>
                        <div>
                            <a>Valor</a>
                            <input required type="number" name="precio" id="precio" value="<%= product.price  %>">
                        </div>
                        <div>
                            <img src="<% product.image %> ">
                            <input type="file" name="avatar" accept=".jpg" multiple>
                        </div>

                        <!-- <p>
                            <select name="descuento" id="descuento">
                                <option selected value="0"> Elige un decuento </option>
                                <option value="0">Sin descuento</option>
                                <option value="10">10 %</option>
                                <option value="15">15 %</option>
                                <option value="20">20 %</option>
                                <option value="25">25 %</option>
                                <option value="30">30 %</option>
                                <option value="35">35 %</option>
                            </select>
                        </p> -->
                        </section>
                        <section id="e-bottom">
                            <div>
                                <button id="edit-Update" type="submit">Actualizar</button>
                            </div>
                            <div>
                                <button id="e-volver" onclick="location.href='/'">volver</button>
                            </div>
                        </section>
                </form>
            </main>

            <%- include('./partials/footer') %>
    </body>

</html>