<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>
<link rel="stylesheet" href="/css/register.css">
    </head>

    <body>
        <%- include('./partials/header') %>

        <main>
            <form class="main-section" id="register-form" action="/products/<%= locals.product.id  %>?_method=put" method="post" enctype="multipart/form-data">
                <h2>Editando el producto: <%= locals.product.name  %></h2>
                <hr>
                <section id="product-data" class="field-group">
                    <div>
                        <label for="name">Nombre del producto</label>
                        <input required type="text" value="<%= locals.product.name  %> " name="name" id="name" placeholder="">
                    </div>
                    <div>
                        <label for="description_short">Descripción breve</label>
                        <input type="text" value="<%= locals.product.description_short  %> " name="description_short" id="description_short" placeholder="">
                    </div>
                    <div>
                        <label for="description_long">Descripción completa</label>
                        <textarea name="description_long" id="description_long" cols="30" rows="10"><%= locals.product.description_long  %></textarea>
                    </div>
                    <div>
                        <label for="category">Categoría</label>
                        <select value="<%= locals.product.category  %> " name="category" id="category">
                            <option value="" selected disabled hidden>Escoja una categoría</option>
                            <% locals.categories.forEach(category => { %>
                                <option value="<%= category.key %>"> <%= category.text %> </option>
                            <% }); %> 
                        </select>
                    </div>
                    <div>
                        <label for="category_sales">Promoción</label>
                        <select value="<%= locals.product.category_sales  %>" name="category_sales" id="category_sales">
                                <option value="none"> Ninguna </option>
                                <option value="destacado"> Destacado </option>
                                <option value="oferta"> En Oferta </option>
                        </select>
                    </div>
                    <div>
                        <label for="price">Precio</label>
                        <input required type="number" value="<%= parseInt(locals.product.price) %>" name="price" id="price" min="0">
                    </div>
                    <div>
                        <img src="/images/products/<%= locals.product.image  %>" alt="">
                    </div>
                    <div>
                        <label for="image">Imagen</label>
                        <input type="file" name="image" id="image">
                    </div>


                </section>

                <div class="olvidar">
                    <button id="send-register" type="submit">Editar</button>
                </div>

            </form>
        </main>

            <%- include('./partials/footer') %>
    </body>

</html>