<!DOCTYPE html>
<html lang="es">

<%- include('partials/head') %>
    </head>

    <body>
        <%- include('partials/header') %>
        <section id="cascada">
            <img src="./images/0_banner.jpeg" alt="imagen transición" class="banner">
        </section>
            <main>
                <%- include('partials/destacados') %>
                <%- include('partials/ofertas') %>
            </main>
            <%- include('partials/footer') %>
            <script src = "/js/carrito.js"></script>
    </body>

</html>