<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/productDetail.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital,wght@0,300;1,100&display=swap"
        rel="stylesheet">
    </head>

    <body>
        <%- include('./partials/header') %>
            <main>
                <section class="main-section">
                    <div class="container">
                        <h2>Detalles del Producto</h2>
                        <hr>
                    </div>
                    <section class="product-section">
                        <div class="detail-img">
                            <img src="/images/products/<%= product.image  %>">
                        </div>
                        <div class="right">
                        <div id="detail-description">
                            <p id="detail-tittle">
                                <%= product.name %>
                            </p>
                            <p id="text-description">
                                <%= product.description_short %>
                            </p>
                            <p id="detail-precio">$ <%= product.price %>
                            </p>
                            <p id="cantidad"> <label for="number">Cantidad
                                    <input required type="number" name="number" id="number" placeholder="1">
                                </label>
                            </p>
                        </div>
                        <div id="bottoms">
                            <a href="/productCart">
                                <button id="addCar">Añadir al carrito</button>
                            </a>
                            <a href="/products/<%=product.id%>/edit">
                                <button id="edit">Editar</button>
                            </a>
                            <form action="/products/<%= locals.product.id  %>?_method=delete" method="post">
                                <button id="delete" type="submit">Eliminar</button>
                            </form>
                        </div>
                    </div>
                    </section>
                </section>
                <section>
                    <a href="#" class="iconoHamburguesa2">
                        <i class="fas fa-bars"></i>
                    </a>
                    <nav class="menu-produc">
                        <ul>
                            <li><a href="#">Descripción</a></li>
                            <li><a href="#">Detalles</a></li>
                            <li><a href="#">Comentarios</a></li>
                        </ul>
                    </nav>
                </section>
                <section id="section-description">
                    <h4>Descripción</h4>
                    <p class="text-description">
                        <%= product.description_long %>
                    </p>
                </section>
                <%- include('./partials/destacados') %>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>