<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/productDetail.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital,wght@0,300;1,100&display=swap"
        rel="stylesheet">
    </head>

    <body>
        <%- include('./partials/header') %>
            <main>

                <section id="detail-produc">
                    <p>
                    <h3>Detalles del Producto</h3>
                    </p>
                </section>
                <section class="detail">
                    <div id="detail-img">
                        <img src="/images/products/<%= product.image  %>">
                    </div>
                    <div id="detail-description">
                        <p id="detail-tittle"><%= product.name  %> </p>
                        <p class="text-description"> <%= product.description_short  %> </p>
                        <p id="detail-precio">$ <%= product.price  %></p>
                        </p>

                        <p> <label for="number">Cantidad
                                <input required type="number" name="number" id="number" placeholder="1">
                            </label>
                        <p id="car">
                            <a href="./productCart">Añadir al carrito</a>
                        </p>

                    </div>
                </section>
                <section>
                    <a href="#" class="iconoHamburguesa2">
                        <i class="fas fa-bars"></i>
                    </a>
                    <nav class="menu-produc">
                        <ul>
                            <li><a href="#">Descripción</a></li>
                            <li><a href="#">Detalles</a></li>
                            <li><a href="#">Comentarios</a></li>
                        </ul>
                    </nav>
                </section>
                <section id="section-description">
                    <p class="text-description"><%= product.description_long  %></p>
                </section>
                <%- include('./partials/destacados') %>                
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>