<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/productList.css">
    </head>

    <body>
        <%- include('./partials/header') %>
            <main>
                <div id="mainProduct">
                    <section id="izquierda">
                        <h2>CATEGORÍAS</h2>
                        <%- include('./partials/categorias') %>
                    </section>
                    <section class="main-section" id="derecha">
                        <h3>PRODUCTOS</h3>
                        <div class="articulos">
                            <article>
                                <img src="./images/arduinoUno.jpg" class="productImg">
                                <i class="fas fa-shopping-cart"></i>
                                <p class="nombre">ARDUINO UNO</p>
                                <p class="precio">$ 37.000</p>
                            </article>
                            <article>
                                <img src="./images/displayOled.jpg" class="productImg">
                                <i class="fas fa-shopping-cart"></i>
                                <p class="nombre">Display Oled</p>
                                <p class="precio">$ 15.000</p>
                            </article>
                            <article>
                                <a href="./productDetail"><img src="./images/sensorUltrasonico.jpg"
                                        class="productImg"></a>
                                <i class="fas fa-shopping-cart"></i>
                                <p class="nombre">SENSOR ULTRASONICO</p>
                                <p class="precio">$ 12.000</p>
                            </article>
                            <article>
                                <img src="./images/servomotor.jpg" class="productImg">
                                <i class="fas fa-shopping-cart"></i>
                                <p class="nombre">SERVOMOTOR</p>
                                <p class="precio">$ 25.000</p>
                            </article>
                            <article>
                                <img src="./images/arduinoUno.jpg" class="productImg">
                                <i class="fas fa-shopping-cart"></i>
                                <p class="nombre">ARDUINO UNO</p>
                                <p class="precio">$ 37.000</p>
                            </article>
                            <article>
                                <img src="./images/displayOled.jpg" class="productImg">
                                <i class="fas fa-shopping-cart"></i>
                                <p class="nombre">Display Oled</p>
                                <p class="precio">$ 15.000</p>
                            </article>
                            <article>
                                <a href="./productDetail"><img src="./images/sensorUltrasonico.jpg"
                                        class="productImg"></a>
                                <i class="fas fa-shopping-cart"></i>
                                <p class="nombre">SENSOR ULTRASONICO</p>
                                <p class="precio">$ 12.000</p>
                            </article>
                            <article>
                                <img src="./images/servomotor.jpg" class="productImg">
                                <i class="fas fa-shopping-cart"></i>
                                <p class="nombre">SERVOMOTOR</p>
                                <p class="precio">$ 25.000</p>
                            </article>
                            <article>
                                <img src="./images/arduinoUno.jpg" class="productImg">
                                <i class="fas fa-shopping-cart"></i>
                                <p class="nombre">ARDUINO UNO</p>
                                <p class="precio">$ 37.000</p>
                            </article>
                            <article>
                                <img src="./images/displayOled.jpg" class="productImg">
                                <i class="fas fa-shopping-cart"></i>
                                <p class="nombre">Display Oled</p>
                                <p class="precio">$ 15.000</p>
                            </article>
                        </div>
                    </section>
                </div>
                <div id="destacadosProduct">
                    <%- include('./partials/destacados') %>
                </div>
                
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>