<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/login.css">
    </head>

    <body>
        <%- include('../partials/header') %>
            <main>
                <section class="main-section">
                    <div class="container">
                        <h2>Ingresar a mi cuenta</h2>
                        <hr>
                    </div>
                    <form id="register-form" action="/users/login" method="post">
                        <section id="data-personal" class="data-ingress">
                            <div>
                                <label for="email">Correo electrónico</label>
                                <input value="<%= locals.old && locals.old.email  %> " type="email" name="email" id="email" placeholder="Correo electrónico">
                                <% if(locals.errors && errors.email){ %>
                                    <p class="error-message">
                                        <%= errors.email.msg %>
                                    </p>
                                    <% } %>
                            </div>
                            <div>
                                <label for="password">Contraseña</label>
                                <input type="password" name="password" id="password" placeholder="Contraseña">
                                <% if(locals.errors && errors.password){ %>
                                    <p class="error-message">
                                        <%= errors.password.msg %>
                                    </p>
                                    <% } %>
                            </div>
                        </section>
                        <div class="olvidar"><button id="ingresar" type="submit">Entrar</button></div>
                        <div class="olvidar">
                            <a id="olvidar" href="#">¿Olvidaste tu contraseña?</a>
                        </div>

                    </form>
                </section>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>