<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/productList.css">
    </head>

    <body>
        <%- include('../partials/header') %>
            <main>
                <div id="mainProduct">
                    
                    <section class="main-section" id="derecha">
                        <h3>Usuarios</h3>
                        <div class="articulos">
                            <% locals.users.forEach(user => { %>
                                <article>
                                    <!-- <a href="/users/???"> -->
                                        <img src="/images/users/<%= user.image %>" class="productImg">
                                    <!-- </a> -->
                                    <ul>
                                        <li><%= user.first_name  %></li>
                                        <li><%= user.last_name  %></li>
                                        <li><%= user.email  %></li>
                                    </ul>
                                </article>
                                <%}); %>
                        </div>
                    </section>
                </div>
                
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>